body{
    margin:0;
    padding: 0px;
    font-family: sans-serif;
    background-color: #adadad;
}
*{
    box-sizing: border-box;
    outline: none!important;
    text-decoration: none!important;
}
.login-form{
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.login-form .box{
    min-width: 400px;
    min-height: 450px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #858585;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.login-form .box .heading h4{
    color: #1e1e1e;
    font-size: 22px;
    text-align: center;
    margin: 15px 0px 20px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    display: inline-block;
}
.login-form .box .form-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login-form .box .form-fields .input-box{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.login-form .box .form-fields .form-control{
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 5px;
    color: #444444;
    border: 1px solid #cccccc;
}
.login-form .box .form-fields .form-control::placeholder{
    color: #cccccc;
}

.login-form .box .form-fields .button-box{
    width: 100%;
    display: flex;
    color: #1e1e1e;
}
.login-form .box .form-fields .button-box button{
    font-size: 16px;
    padding: 8px 20px;
    border: 1px solid #1e1e1e;
    transition: box-shadow .0,5s ease;
    cursor: pointer;
    margin-top: 10px;
}
.login-form .box .form-fields .button-box button:hover{
    border: 1px solid #4444;
}

.login-form .box .form-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*responsividade*/
@media(max-width: 500px){
    .login-form .box{
        min-width: 100%;
        padding: 30px;
    }
    .login-form form{
        min-width: 100%;
    }
}